#component-text {
  width: 150px;
  height: 40px;
}

#component-button {
  width: 120px;
  height: 34px;
}

#component-image {
  width: 80px;
  height: 80px;
}

#component-link {
  width: 120px;
  height: 30px;
  text-decoration: underline;
}

#component-video {
  width: 150px;
  height: 150px;
}
